# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/ios/Gemfile.lock
/ios/Podfile.lock
/macos/Podfile.lock
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0a4e4c8d4b40aaa95b3ba768990a0df3-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=1af8f10545d82252a95d51d46082005d-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=1b42d85754bcb8f90a0cb353652abae5-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7a28378c899f14611dfbcac4d4268665-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7d451e8f18fe233e9394c482aa20be61-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8abc9b41a5d56bc02e3fd3f97f3a3cbe-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=13be7d06ef6edca7d4ad8b3e375e3ac1-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=18e42029171c142f13706b8664c7fdba-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=28f8ffaa7d066f6ac9767b1454555670-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=30e91733544a1e4a590a02b5aa899b5c-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=33be8240c4d281b30b1b414bafee1fd2-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=50eeee1e76ad5ec81d25e436ce6fef6a-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=58d04c231a21bbae570ca7d54ede311d-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=255c0b899f8cbdc9f77c9cd68fc4872f-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=377ee7e9a40d01cc969fb7a8fe691e60-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=380ad692830a6e97060e5e3859c61f95-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=883efb7deb4aca4717ae7bf3ee1b9dc8-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=907f6caae1a63aa6bd728cf28e7bc237-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=63577e144efbd17e575f60e7fd7214c8-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=384503f5e98a8180ce6d56d73bb10795-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=448278b68beae2d19eed8fc331dfbd7b-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a83a6e02f1b700a0021729a651869739-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a32360fb9debac5a307d7cbd83eebe6f-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b28d8b1bd229b7cd3197c0f6ed64e6b4-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b757f77f9e99d2ffbd1e8d8459feb0ca-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c72459c8cbfb56817ce52f915d89a3cb-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=cf8f85dfef476be0fc6b367988f2da4e-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d9a445fdcbd43f696efa03beaa194970-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d9ecf75176e6dffea35a54f6338ba949-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=da4e21c45cf997fef30690effcc6db90-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=de171b976245b0081ee65a0d7f2f96b4-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=efd41a3181c30c01664bf0c94f7ffd46-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=f2a2398b9e3140f7a158bf17970031ed-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=fc52baa05afcd129fdc966da92ae4072-json
/macos/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=fedf1fc085227c90a715ac2230e05413-json
/macos/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=80cf13e38274b29bdf46140edff20090-json
/macos/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=f9722d42018338a506446ef826eac769_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
